<section id="footer" class="jumbotron mb-0 mt-4">
    <!-- <div class="d-flex justify-content-center">
        <h1>
            <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
        </h1>
    </div> -->
    <!-- <div class="d-flex justify-content-center">
        <h2>
            <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
        </h2>
    </div> -->
    <!-- <div class="container d-flex justify-content-between">
        <img src="/imgs/Logo.png" alt="Logo" id="logo">
        <h2 class="text-center">
            <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
        </h2>
        <p class="text-muted">dezivo.studios</h4>
    </div> -->
    <div class="container">
        <div class="row">
            <!-- <div class="col-6 col-sm-6 text-center">
                <img src="/imgs/Logo.png" alt="Logo" id="logo">
            </div>
            <div class="col-6 col-sm-6 text-center">
                <h2 class="text-center">
                    <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
                    <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
                </h2>
            </div> -->
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <a href="/"><img src="/imgs/Logo2.png" alt="Logo" id="logo"></a>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <ul class="list-unstyled text-small">
                    <li><a class="social" href="#"><i class="fab fa-facebook-square"></i> (33) 9 9956-0372</a></li>
                    <li><a class="social" href="#"><i class="fab fa-instagram"></i> @vista_se_t.o</a></li>
                    <li><a class="social" href="#"><i class="fab fa-whatsapp-square"></i> /alexsandro.pereirasantana</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <p><i class="fas fa-map-marker-alt"></i> Av. Airton Sena, 107 Casa A - Teófilo Otoni, MG, Brasil</p>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <img class="mx-2" src="/imgs/Dezivo.jpeg" width="60" alt="Dezivo">
                <p class="text-muted">Copyright © 2019 I Dezivo Studios</p>
            </div>
        </div>
    </div>
</section>

<script src="/libraries/jquery.min.js"></script>
<script src="/libraries/bootstrap.min.js"></script>

</body>
</html>