<section id="footer" class="jumbotron mb-0 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 d-none d-sm-flex align-items-center justify-content-center">
                <h2>GALANTES</h2>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <ul class="list-unstyled text-small">
                    <li><a class="social" href="#" target="_blank"><i class="fab fa-facebook-square"></i> /galantes</a></li>
                    <li><a class="social" href="#" target="_blank"><i class="fab fa-instagram"></i> @galantes</a></li>
                    <li><a class="social" href="#" target="_blank"><i class="fab fa-whatsapp-square"></i> (xx) x xxxx-xxxx</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <p><i class="fas fa-map-marker-alt"></i> Av. xxxxxxxxxx, xxx Casa x - xxxxxxxxxxx, MG, Brasil</p>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <img class="mx-2" src="/imgs/Dezivo.jpeg" width="50" alt="Dezivo">
                <p class="text-muted" style="font-size: 0.7rem">Copyright © 2019 I Dezivo Studios</p>
            </div>
        </div>
    </div>
</section>

<script src="/libraries/jquery.min.js"></script>
<script src="/libraries/bootstrap.min.js"></script>

</body>
</html>