<section id="header" class="jumbotron mb-0">
    <div class="d-flex justify-content-center">
        <h1>
            <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
        </h1>
    </div>
</section>

<script src="/libraries/jquery.min.js"></script>
<script src="/libraries/bootstrap.min.js"></script>

</body>
</html>