<section id="footer" class="jumbotron mb-0 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 d-none d-sm-flex align-items-center justify-content-center">
                <a href="/"><img src="/imgs/Logo2.png" alt="Logo" id="logo2"></a>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <ul class="list-unstyled text-small">
                    <li><a class="social" href="https://www.facebook.com/alexsandro.pereirasantana" target="_blank"><i class="fab fa-facebook-square"></i> /alexsandro.pereirasantana</a></li>
                    <li><a class="social" href="https://www.instagram.com/vista_se_t.o/" target="_blank"><i class="fab fa-instagram"></i> @vista_se_t.o</a></li>
                    <li><a class="social" href="http://wa.me/5533999560372" target="_blank"><i class="fab fa-whatsapp-square"></i> (33) 9 9956-0372</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <p><i class="fas fa-map-marker-alt"></i> Av. Airton Sena, 107 Casa A - Teófilo Otoni, MG, Brasil</p>
            </div>
            <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center">
                <img class="mx-2" src="/imgs/Dezivo.jpeg" width="50" alt="Dezivo">
                <p class="text-muted" style="font-size: 0.7rem">Copyright © 2019 I Dezivo Studios</p>
            </div>
        </div>
    </div>
</section>

<script src="/libraries/jquery.min.js"></script>
<script src="/libraries/bootstrap.min.js"></script>

</body>
</html>