<% include ./partials/header %>

<div class="container">
    <h1 style="text-align: center">Adicionar Roupa</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/" method="POST" enctype="multipart/form-data">
        <!-- <form action="/" method="POST"> -->
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input id="descricao" class="form-control" type="text" name="description" required>
            </div>
            <div class="form-group">
                <label for="tag1">Tipo</label>
                <select class="form-control" id="tag1" name="tag1">
                  <option>Masculino</option>
                  <option>Feminino</option>
                  <option>Infantil masculino</option>
                  <option>Infantil feminino</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tag2">Categoria</label>
                <select class="form-control" id="tag2" name="tag2">
                    <% tags.masculino.forEach(function(tag){ %>
                        <option>
                            <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Imagem</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Adicionar Roupa</button>
            </div>
        </form>
        <a href="/">Voltar</a>
    </div>
</div>

<section id="header" class="jumbotron mb-0">
    <div class="d-flex justify-content-center">
        <h1>
            <a href="#"><i class="fab fa-facebook-f text-dark px-3"></i></a>
            <a href="#"><i class="fab fa-instagram text-dark px-3"></i></a>
        </h1>
    </div>
</section>

<script src="/libraries/jquery.min.js"></script>
<script src="/libraries/bootstrap.min.js"></script>
<script src="/jquery/formcontrol.js"></script>

</body>
</html>