<% include ./partials/header %>

<div class="container">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top img-fluid " src="/imgs/1.jpg" alt="Card image cap" data-toggle="modal" data-target="#exampleModalCenter">
            <div class="card-body">
                <h5 class="card-title">Vestido</h5>
                <p class="card-text">Tecido tal, cor vermelha...</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Calça Jeans</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Blusa</h5>
            </div>
        </div>  
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Conjunto</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Conjunto</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/7.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/8.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/9.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="/imgs/6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Roupa</h5>
            </div>
        </div>
    </div>
</div>  

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Vestido</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body row">
            <!-- Itens here!! -->
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red1.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red2.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red3.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red4.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red5.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/imgs/red6.jpg" alt="">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
    </div>
</div>

<% include ./partials/footer %>