<% include ./partials/header %>

<div class="container">
    <h1 class="display-4" style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="login">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="senha">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Entrar</button>
            </div>
        </form>
        <a href="/">Voltar</a>
    </div>
</div>

<% include ./partials/footer %>