<% include ./partials/header %>

<div class="container">
        <% if (clothes.length < 1){ %>
            <h2 class="text-center">Oops!! Nada a mostrar por enquanto...</h2>
            <div style="height:274px;"></div>
        <% } %>
        <div class="card-columns">
            <% clothes.forEach(function(cloth){ %>
                <div class="card">
                    <img class="card-img-top img-fluid " src="<%= cloth.image %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title m-0"><%= cloth.description %></h5>
                        <% if(user){ %>
                            <form class="delete-form" action="/<%= cloth._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>  

<% include ./partials/footer %>