<% include ./partials/header %>

<section id="header" class="jumbotron text-center">
    <h1 class="display-3">MASCULINO</h1>
    <!-- <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, pariatur?</p> -->
</section>

<% include ./partials/footer %>