body {
    font-family: 'Merriweather', serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;   
}

@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.card-columns .card {
    display: inline-block;
    width:100%;
}

#logo {
    width:130px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hover:hover {
    background-color: rgb(235, 235, 235);
}

.dropdown-item.active{
    background-color:#b6ff00;
}

#mainNavbar {
    font-size: 1.2rem;
}
